<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>NGRX Version 13 Based On Original Docs <i>[Disabled]</i></h1>
      <app-parent></app-parent>
    </div>
  </div>
</div>

<hr>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>NGRX Version 10 As Tutorial <i>[Enabled]</i></h1>
      <span>Enable This Verison From App Module And app.component.html</span>
      <app-new-counter></app-new-counter>
    </div>
  </div>
</div>

<hr>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Base Version (Emitter)</h1>
      <app-counter></app-counter>
    </div>
  </div>
</div>
